<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="SharedSource Redirection Module" description="Configuration for shared redirection module">
          <targetDataStore physicalRootPath="$(serialisationRootFolder)\SharedSource.Redirection" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include database="master" path="/sitecore/system/Modules/Redirect Module" name="Redirect.System.Modules"/>
            <include database="master" path="/sitecore/system/Settings/Rules/Definitions/Elements/Redirect Manager" name="Redirect.System.Rules.Definitions.Elements"/>
            <include database="master" path="/sitecore/system/Settings/Rules/Definitions/Tags/Redirect Manager" name="Redirect.System.Rules.Definitions.Tags"/>
            <include database="master" path="/sitecore/system/Settings/Rules/Redirect Manager" name="Redirect.System.Rules"/>
            <include database="master" path="/sitecore/templates/Redirect Module" name="Redirect.Templates"/>
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
