<!-- 
  This file was extended with Sitecore 9.0 configuration roles to natively support Sitecore 9.0. 
  Previous versions of Sitecore such as 8.0, 8.1, 8.2 will ignore these configuration roles notations 
  so there won't be any difference there, unless Sitecore-Configuration-Roles is installed (8.1.3+) which 
  supports these notations same way as Sitecore 9.0 OOB.
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <pipelines>
      <httpRequestBegin>
        <processor type="SharedSource.RedirectModule.Processors.RedirectProcessor,SharedSource.RedirectModule" patch:after="processor[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']"/>
      </httpRequestBegin>

      <getContentEditorWarnings role:require="Standalone or ContentManagement">
        <processor type="SharedSource.RedirectModule.Processors.ContentEditorRedirectNotification, SharedSource.RedirectModule" patch:after="processor[@type='Sitecore.Pipelines.GetContentEditorWarnings.Notifications, Sitecore.Kernel']"  />
      </getContentEditorWarnings>
    </pipelines>

    <events role:require="Standalone or ContentManagement">
      <!-- The feature is only designed for authoring process so it must not be executed on ContentDelivery instance -->
      <event name="item:moved" >
        <handler type="SharedSource.RedirectModule.Handlers.AutoCreateRedirectOnMove, SharedSource.RedirectModule" method="OnItemMoved" patch:after="handler[@type='Sitecore.Globalization.ItemEventHandler']" />
      </event>
    </events>

    <commands role:require="Standalone or ContentManagement">
      <command name="redirectmanager:delete" type="SharedSource.RedirectModule.Commands.DeleteRedirect,SharedSource.RedirectModule"/>
    </commands>

    <settings>
      <!--  Query Type
            When querying for matches, the module supports different query types.
            Supported values: 
              fast  -   The query will use Sitecore's fast query which goes straight to the database. 
                        Do not use this if you are using multilingual redirects.
              query -   The query will use the standard Sitecore query syntax. 
              api   -   The query will locate the redirect root node and then use GetDescendants.
              Default value: api
              
              You can also use different query types for the exact match query and the pattern match query.
      -->
      <setting name="SharedSource.RedirectModule.QueryType.ExactMatch" value="api"/>
      <setting name="SharedSource.RedirectModule.QueryType.Pattern" value="api"/>

      <!-- As authors move pages, we can autogenerate redirects. -->
      <setting name="SharedSource.RedirectModule.AutoGenerateRedirectsOnMove" value="true"/>

      <!--  Redirection Types
            The module supports for exact match redirects and regular expression matches.  All exact matches are
            tested first then the patterns are tested.  If you only intend to use one type, you can disable the other.
              true  -   Enable this type of redirect
              false -   Disable this type of redirect
              Default value: true
      -->
      <setting name="SharedSource.RedirectModule.RedirectionType.ExactMatch" value="true"/>
      <setting name="SharedSource.RedirectModule.RedirectionType.Pattern" value="true"/>
      <setting name="SharedSource.RedirectModule.RedirectionType.Rules" value="true"/>

      <!--  RedirectRootNode
            The module stores the rules as items in the Sitecore tree.  You can move the root node if needed.
              Default value: /sitecore/system/Modules/Redirect Module
      -->
      <setting name="SharedSource.RedirectModule.RedirectRootNode" value="/sitecore/system/Modules/Redirect Module"/>
    </settings>
  </sitecore>
</configuration>
