<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="SharedSource Redirection Module" description="Configuration for shared redirection module">
          <targetDataStore physicalRootPath="$(serialisationRootFolder)\SharedSource.Redirection" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include database="master" path="/sitecore/system/Modules/Redirect Module" name="Redirect.System.Modules">
              <exclude childrenOfPath="/sitecore/system/Modules/Redirect Module/Redirects/Generated"/>
            </include>
            <include database="master" path="/sitecore/system/Settings/Rules/Definitions/Elements/Redirect Manager" name="Redirect.System.Rules.Definitions.Elements"/>
            <include database="master" path="/sitecore/system/Settings/Rules/Definitions/Tags/Redirect Manager" name="Redirect.System.Rules.Definitions.Tags"/>
            <include database="master" path="/sitecore/system/Settings/Rules/Redirect Manager" name="Redirect.System.Rules"/>
            <include database="master" path="/sitecore/templates/Redirect Module" name="Redirect.Templates"/>
          </predicate>
          <roleDataStore type="Unicorn.Roles.Data.FilesystemRoleDataStore, Unicorn.Roles" physicalRootPath="$(serialisationRootFolder)\SharedSource.Redirection\Redirect.Roles" singleInstance="true"/>
          <rolePredicate type="Unicorn.Roles.RolePredicates.ConfigurationRolePredicate, Unicorn.Roles" singleInstance="true">
            <include domain="modules" pattern="^Redirect Module .*$" />
          </rolePredicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
